.Menu{
    width: 100%;
    border: 1px solid;
    min-height: 3.5em;
    background-color: #E2B4BD;
    color:#FFFFFA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.MenuElement{
    margin-right: 2em;
    margin-left: 2em;
}
.menu-logo{
    display: block;
    position: absolute;
    width: auto;
    height: 4.5em;
    ;
}

